.ICEauthority
.WebStorm*
.babel.json
.bash_history
.bash_logout
.bashrc
.cache
.config
.gnome
.gnupg
.java
.local
.mozilla
.npm
.nvm
.oh-my-zsh
.pam_environment
.pki
.profile
.ssh
.sudo_*
.v8*
.vscode
.wget-*
.xinputrc
.zcompdump*
.zsh-update
.zsh_history
Downloads
Pictures
examples.desktop
workspace
